.item {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-around;
  background-color: var(--color4);
  width: 90%;
  min-width: 200px;
  max-width: 1000px;
  min-width: auto;
  margin: 30px auto;
  list-style-type: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
}
.Icon {
  font-size: 2.4rem;
  justify-self: center;
}
.TodoItem-p {
  text-align: center;
  word-wrap: break-word;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon-check--active {
  color: green;
}
.Icon-check:hover {
  color: green;
  cursor: pointer;
}

.Icon-delete:hover {
  color: red;
  cursor: pointer;
}
