:root {
  --color1: #002432;
  --color2: #00495d;
  --color3: #007993;
  --color4: #00b7d6;
  --color5: #00ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color2);
  font-size: 16px; /* 1rem = 10px */
}
html {
  font-size: 62.5%;
}
#root {
  position: relative;
  min-height: 100vh;
}
